@import 'tailwindcss';

.toggle-dot {
  transition: transform 0.2s;
}
input:checked + label .toggle-dot {
  transform: translateX(100%);
}
svg.paw.paw--posted {
  opacity: 0;
  transform: translateY(-10px);
}
.today-badge .today-char {
  display: inline-block;
}
.today-badge {
  color: #ffe66d;
  text-shadow:
    -1px -1px 0 #d97706,
    1px -1px 0 #d97706,
    -1px 1px 0 #d97706,
    1px 1px 0 #d97706;
}
/* .today-badge {
  color: #a7f3d0;
  text-shadow:
    -1px -1px 0 #047857,
     1px -1px 0 #047857,
    -1px  1px 0 #047857,
     1px  1px 0 #047857;
} */
dialog {
  border: 0;
  padding: 0;
}

.neon-pink {
  text-shadow:
    0 0 6px rgba(255, 211, 243, 0.7),
    0 0 16px rgba(251, 189, 216, 0.5),
    0 0 32px rgba(255, 200, 220, 0.3);
}

.neon-green {
  text-shadow:
    0 0 6px rgba(220, 255, 220, 0.7),
    0 0 16px rgba(200, 255, 200, 0.5),
    0 0 32px rgba(191, 254, 191, 0.3);
}

.neon-yellow-soft {
  text-shadow:
    0 0 6px rgba(255, 250, 205, 0.7),
    0 0 16px rgba(255, 250, 205, 0.5),
    0 0 32px rgba(255, 250, 205, 0.3);
}
