@import "tailwindcss";

.toggle-dot {
  transition: transform 0.2s;
}
input:checked + label .toggle-dot {
  transform: translateX(100%);
}
svg.paw.paw--posted {
  opacity: 0;
  transform: translateY(-10px);
}
.today-badge .today-char {
  display: inline-block;
}
.today-badge {
  color: #ffe66d;
  text-shadow:
    -1px -1px 0 #d97706,
    1px -1px 0 #d97706,
    -1px 1px 0 #d97706,
    1px 1px 0 #d97706;
}
/* .today-badge {
  color: #a7f3d0;
  text-shadow:
    -1px -1px 0 #047857,
     1px -1px 0 #047857,
    -1px  1px 0 #047857,
     1px  1px 0 #047857;
} */
dialog { border: 0; padding: 0; }
