<h1>DailyPosts#index</h1>

<ul>
  <% @daily_posts.each do |post| %>
    <li>
      <strong><%= post.posted_on %></strong>: 
      <%= simple_format(post.content) %>
      <%= link_to "削除", daily_post_path(post),  
          data: {
            "turbo-method": :delete, 
            turbo_confirm: "本当に削除しますか？" } %>
    </li>
  <% end %>
</ul>
<%= link_to "＋", new_daily_post_path %>
