= turbo_frame_tag "modal" do
  %div.modal-container.fixed.inset-0.z-40.flex.items-center.justify-center.ml-64.backdrop-blur-sm{ 
    data: { controller: "modal-animation" } }
    %div.bg-white.shadow-lg.rounded-lg.px-8.py-8.w-full.max-w-3xl.mx-4.relative
      %button.absolute.top-2.right-2.text-gray-400.text-xl{ type: "button",
        onclick: "document.getElementById('modal').innerHTML = ''" } ×
      %h1.text-2xl.font-bold.mb-8.text-center 今日何をした？
      - if @daily_post.errors.any?
        .mb-4
          %div.bg-red-100.border-l-4.border-red-500.text-red-700.p-4.rounded
            %ul
              - @daily_post.errors.full_messages.each do |msg|
                %li= msg
      = render "form"
